<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="datos">
        <div>
            <input class="nom" type="text" placeholder="Nombre">
        </div>
        <br>
        <div>
            <input class="ape" type="text" placeholder="Apellido">
        </div>
        <br>
        <div>
            <input class="dir" type="text" placeholder="Dirección">
        </div>
        <br>
        <div>
            <input class="cor" type="text" placeholder="Correo Electronico">
        </div>
    </div>
    
</body>
</html>